* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border-color: #74d8fa !important;
  border-radius: 15px !important;
  font-family: Nunito !important;
  font-weight: 600;
}
body {
  background-color: #172a3a;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  justify-self: center;
  align-self: center;
  border: solid 2px black;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
a {
  color: #00a7e1;
}
#main_container {
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 5px;
  transition: all 0.5s ease;
}
#main_container * {
  margin-bottom: 3vh;
  text-align: center !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
} /* #uno { width: 100vw !important; height: 50vh !important; overflow-y: hidden; } */
#uno {
  width: 90vw !important;
  position: relative !important;
  height: 400px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: none !important;
  border-radius: 35px !important;
}
#uno img {
  display: none;
}
#due {
  width: 80vw;
  height: 10vh;
  border: solid 2px grey;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh !important;
  overflow: scroll !important;
}
#preview {
  margin-top: 0 !important;
  width: 90vw;
  border: solid 2px black;
}
#tre {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}
#input {
  display: flex;
  flex-direction: row;
  justify-self: center !important;
  position: static;
  gap: 4vw;
  bottom: 10vh;
  left: 0;
  width: 100%;
  height: 5vh;
  margin-top: 4vh !important;
}
input {
  height: 5vh;
  width: 40%;
  border: solid 2px;
  border-radius: 15px !important;
}
#submit {
  width: 30%;
  height: 5vh;
  background-color: #00a7e1;
  color: #172a3a;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 !important;
  color: #f1edee !important;
}
video {
  width: 80vw !important;
  height: 80vw !important;
  border: solid 2px;
  border-radius: 15px !important;
} /* #qr-shaded-region { width: 100% !important; max-height: 260px !important; position: absolute !important; right: 0 !important; } */ /* #qr-shaded-region { display: none !important; } */
#uno__scan_region {
  position: relative !important;
  display: flex !important;
  width: 100% !important;
  max-width: 380px !important;
  min-height: 400px !important;
  padding-top: 50px !important;
}
.border_colored {
  border: solid 5px white !important;
  background-color: #00a7e1 !important;
} /* #uno__scan_region { display: none !important; } */
video {
  width: 100% !important;
  height: 400px !important;
  display: flex !important;
  position: absolute !important;
  top: 0px !important;
  left: 0 !important;
}
#uno__dashboard_section a {
  display: none !important;
}
#uno__dashboard {
  position: absolute !important;
  bottom: -40px !important;
  left: 0px !important;
  box-sizing: border-box;
  margin-top: 160px !important;
  z-index: 2 !important;
}
#uno__dashboard * {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
#form,
#sign_in_log_in,
#divsignin {
  display: flex;
  justify-content: center;
  height: 60vh;
  width: 70vw;
  margin-top: 10vh;
  margin-left: 15vw;
  margin-right: 15vw;
  background-color: #f1edee;
  position: absolute;
  z-index: 4;
  transition: all 0.5s ease;
}
.form_invisible {
  transform: translateX(-150vw);
}
#form_container * {
  display: flex;
}
#form_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  position: relative;

  width: 100%;
}

#UserId_inputS,
#ServerPassword_input,
#UserId_input {
  text-align: center;
  width: 80%;
}

#UserId_button,
#signin_big_button {
  background-color: #00a7e1;
  width: 50%;
  height: 5vh;
  color: #f1edee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#UserId_h4 {
  justify-content: center;
}
.form_escape {
  position: absolute;
  height: 3vh;
  width: 3vh;
  top: 15px;
  right: 15px;
}
.form_back {
  position: absolute;
  height: 3vh;
  width: 3vh;
  top: 15px;
  left: 15px;
}
.button {
  cursor: pointer;
}
#form_button_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  gap: 35px;
  width: 100%;
}
#form_button_container > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 50%;
  background-color: #00a7e1;
  text-align: center;
}
datalist {
  display: none;
  margin-bottom: 10px;
}
#ban_menu_button_container,
#ban_menu_button_container > * {
  height: 5vh;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

#ban_menu_container {
  height: 100vh;
  width: 100vw;
  background-color: #f1edee;
  position: absolute;
  top: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
#ban_menu_2_container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 5;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#display2 {
  width: 70%;
  height: 20%;
  background-color: lightgrey;
  border: solid 3px #00a7e1 !important;
  z-index: 5;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#ban_button_container {
  width: 70%;
  height: 3vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
#check,
#ban,
#unban {
  height: 4vh;
  width: 27%;
  color: #172a3a;
  background-color: #00a7e1;
  display: flex;
  flex-direction: row wrap;
  margin-top: 5px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
}
.input {
  text-align: center;
  width: 70%;
}
#settings_button_container {
  visibility: hidden;
  height: 5vh;
  width: 50vw;
  position: absolute;
  z-index: 5;
  top: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid 2px;
  transition: all 0.5s ease;
  border: none !important;
  margin: 10px;
}
#settings_container > img {
  height: 5vh;
  width: 5vw;
  max-width: 30px;
  min-width: 15px;
  z-index: 5;
  display: flex;
  float: right;
  margin-right: 5px;
}
#settings_container {
  height: 5vh;
  width: 97vw;
  background-color: #f1edee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  border: solid 2px none !important;
  border-radius: 25px !important;
}
.settings_invisible {
  transform: translate(-65vw);
}
.settings_invisible:hover {
  transform: translate(-65vw) scale(1.1);
}
#check_circle {
  height: 2vh;
  width: 2vh;
  border: solid 1px;
  border-radius: 100%;
  background-color: #f1edee;
  border: solid 1px #172a3a !important;
}
#change_status_button_container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#pause {
  height: 4vh;
  width: 3vh;
  display: flex;
  border: none !important;
  border-radius: 0% !important;
}
#play {
  height: 2vh;
  width: 3vh;
  display: flex;
  border: none !important;
  border-radius: 0% !important;
}
.Yspace {
  transform: translateY(5.5vh);
}
.footer {
  size: large;
  color: #f1edee;
}
